.MMM-EmbedURL .embed.rootWrapper,
.MMM-EmbedURL .embed .embededWrapper,
.MMM-EmbedURL .embed .embededSubWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.MMM-EmbedURL .embed.rootWrapper {
  flex-direction: column;
}

.MMM-EmbedURL .embed .embededSubWrapper0 {
  flex-direction: row;
  align-items: flex-start;
}

.MMM-EmbedURL .embed .iconWrapper,
.MMM-EmbedURL .embed .titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.MMM-EmbedURL .embed .title {
  text-decoration: underline;
}

.MMM-EmbedURL .embed .fontIcon {
  line-height: 1.5;
}

.MMM-EmbedURL .embed .fontIcon.iconify {
  width: 32px;
  height: 32px;
}

.MMM-EmbedURL .embed .imgIcon {
  width: 32px;
}

/* Styling für das eingebettete Element */
.MMM-EmbedURL .embed .embeded {
  width: 1280px; /* Neue Breite */
  height: 600px; /* Neue Höhe */
  transform: scale(0.8); /* Skaliert den Inhalt auf 80% */
  transform-origin: top left; /* Skaliert von oben links */
  overflow: hidden; /* Überflüssiger Inhalt wird versteckt */
  position: relative;
  clip-path: inset(100px 0 0 0); /* Schneidet die oberen 100px ab */
}
